body{
    padding-top: 20px;
    background-color:beige;
}

h1{
    text-align: center;
    font-family: impact;
    font-size: 80px;
    color: #425F57;
    -webkit-text-stroke: 1px #749F82 ;
}

#imagen{
    font-family: Tahoma;
    text-align: center;
    background-color: #D8D9CF;
}

img{
    width: 300px;
    height: 300px;
    text-align: center;
    padding-left: 100px;
}